In [2]:
import pandas as pd
import itertools
import numpy as np
import random
from random import choices
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:80% !important; }</style>"))

In [6]:
def ts_file_processor(file_name):
    with open (file_name,'r') as ts_file:
        ts=[]
        for i in ts_file:
            ts.append(i)
    ts=ts[0].split(',')
    ts=[float(ts[i]) for i in range(len(ts)) ]
    return ts

file='./original_series/original_series_'
names = locals()
ts_dict={}
for i in range(1,2001):
    ts_dict['ts_'+str(i)]=ts_file_processor(file+str(i)+'.txt')

ts_index=[i for i in range(1,2001)]

gradual_df=pd.DataFrame({'alpha':[],
              'series':[]},dtype=object)

FileNotFoundError: [Errno 2] No such file or directory: './original_series/original_series_1.txt'

In [4]:
def gradual_cd_simulation(no_simulation):
    for x in range(no_simulation):
        # choice two sereis from original series 
        series_index=np.random.choice(ts_index,2)
        ts1=ts_dict['ts_'+str(series_index[0])]
        ts2=ts_dict['ts_'+str(series_index[1])]
        alpha_list=[]
        for i in range(len(ts1)):
            alpha=choices([1,0],
                          weights=[1-i/len(ts1),i/len(ts1)],k=1)
            alpha_list.append(alpha)
        alpha_list=list(itertools.chain.from_iterable(alpha_list))
        gradual_cd_list=[]
        for n in range(len(alpha_list)):
            if alpha_list[n]==1:
                gradual_cd_list.append(ts1[n])
            else:
                gradual_cd_list.append(ts2[n])

        gradual_df.loc[x]={'alpha':alpha_list,
                  'series':gradual_cd_list}
    return gradual_df

In [5]:
gradual_df=gradual_cd_simulation(2000)

NameError: name 'ts_index' is not defined

In [14]:
gradual_df

,alpha,series
0,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4.00158397403082, 4.21553923108007, 6.0593624..."
1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3.33023477916845, 3.62593566510398, 3.6738038..."
2,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4.89940205022329, 4.47142878093573, 2.6563130..."
3,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[5.62256935755653, 4.7623010944151, 4.75730205..."
4,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[5.28003701708702, 4.70121194421841, 4.3201735..."
...,...,...
1995,"[1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4.24367950669274, 5.42591285161766, 4.3431875..."
1996,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4.9610990931944, 4.15650635525969, 5.72799883..."
1997,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4.85480777732978, 4.43394844742424, 4.4168408..."
1998,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[5.79206508147705, 3.72418229021039, 4.9135109..."
1999,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3.43770947408305, 4.54876734888733, 4.9005272..."

In [19]:
gradual_df.to_csv('./simulated_data/gradual_df.csv',index=False,
                 date_format={
                     'drift_point': int,
                     'series': list
                 },
                 sep=',')